/*通用样式开始*/
*{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
img{
    border: none;
}
/*通用样式结束*/
/*carousel样式开始*/
.carousel-container{
    width: 520px;
    height: 280px;
    position: relative;
}
.carousel-imgs img{
    display: none;
}
.carousel-imgs .selected{
    display: block;
    width: 100%;
    /*height: 100%;*/
}
.carousel-tab{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.carousel-tab li{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}
.carousel-tab li.circle{
    border-radius: 50%;
}
.carousel-tab .selected{
    background: orange;
}
.carousel-container span{
    width: 20px;
    height: 20px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}
.carousel-prev.leftBottom{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.carousel-next.leftBottom{
    position: absolute;
    left: 35px;
    bottom: 10px;
}
.carousel-prev.center{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}
.carousel-next.center{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
}
/*carousel样式结束*/